$cBlack: black;
$cWhite: white;
$cNavy: navy;

$cHeaderColor: red;
$cBorderColoer: #333;
$cBackGroundColor: rgb(235, 255, 255);
$cBtn: #ffdddd;
$cAnswerArea: rgb(255, 250, 240);
$cResultBackGround: #fdffb4;

$headerHeight: 75px;
